// Styling for the masthead
header.masthead {
  align-items: center;
  background-image: url('../img/katapulttransport24.jpg');
  background-position: center center;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  position: relative;
  width: 100%;
  .color-overlay {
    background-color: rgba(adjust-hue(darken($primary, 20), 30), 0.5);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 100%;
  }
  @include background-cover;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
  #headerText {
    @include textGlitch("headerText", 20, white, transparent, red, green, 1800, 400);
  }
}