// Styling for the portfolio section
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: $white;
    background: fade-out($primary, .1);
    @include transition-all;
    .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      text-align: center;
      .project-category,
      .project-name {
        padding: 0 15px;
        @include sans-serif-font;
      }
      .project-category {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .project-name {
        font-size: 18px;
      }
      .project-name {
        font-size: 12px;
      }
    }
  }
  &:hover {
    .portfolio-box-caption {
      opacity: 1;
    }
  }
  &:focus {
    outline: none;
  }
  @media (min-width: 768px) {
    .portfolio-box-caption {
      .portfolio-box-caption-content {
        .project-category {
          font-size: 16px;
        }
        .project-name {
          font-size: 22px;
        }
      }
    }
  }
}

#portfolio {
  .wrapper {
    width:100%;
    padding-top: 20px;
    text-align:center;
    .portfolio-slider {
      width: 100%;
      .portfolio-item-container {
        width: 100%;
        img {
          width: 100%;
        }
        .portfolio-details-container {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .portfolio-details {
            background-color: rgba(white, 0.7);
            position: absolute;
            right: 50%;
            top: 50%;
          }
        }
      }
    }
  }
}